.shadowed-static {
    border: 1px solid;
    padding: 2rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .8);
}

.shadowed {
    border: 1px solid;
    padding: 2rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .8);
}

.shadowed:hover {
    cursor: pointer;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
}

.shadowed-light {
    border: 1px solid;
    padding: 1rem;
    box-shadow: 0.25rem 0.75rem rgba(0, 0, 0, .8);
}

.shadowed-light:hover {
    cursor: pointer;
    box-shadow: 0.25rem 0.75rem rgba(0, 0, 0, .2);
}

.frame-container {
    width: 66.6%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .frame-container {
        flex-direction: row;
    }
}